.tab-bar{position: fixed;bottom:0;left:0;right:0;height:50px;box-shadow:0px -5px 16px 0px rgba(0,0,0,0.05);line-height: 50px;display: flex;justify-content: space-around;background: #FFFFFF;}
.tab-item.active{color:yellow;}
/*白条*/
.yd-main{height:100%;}
.yd-main:after{content: '';display: block;height:50px;}
.white-header{padding: 0 18px;margin-top: 20px;}
.headerTop{display: flex;justify-content: space-between;}
.headerTop h1{color:#1B1B4E;font-size: 24px;font-weight: 600;line-height: 33px;}
.headerTop-img{width:24px;height:22px;margin-top: 6px;}
.headerTop-img img{width:24px;height:22px;}
.headerInfo{color:#999999;font-size: 12px;letter-spacing: 3px;line-height: 16px;height:16px;margin-top: 2px;}

.white-limit{background: url("../img/main/Bitmap@2x.png");background-size: 100% 100%;padding:18px 37px;color:#FFF;height:155px;margin-top: 4px;}
.limit-top{display: flex;justify-content: space-between;height:107px;align-items: center;border-bottom: 1px solid #D8D8D8;}
.white-limitInfo{display: flex;justify-content: space-between;height:42px;align-items: center;}
.limit-topInfo{color:#FFF;font-size: 13px;height:18px;line-height: 18px;}
.limit-topNum{font-size: 33px;color:#FFF;height:38px;line-height: 38px;margin-top: 4px;font-weight: 500;}
.limit-receive{background: #FFFFFF;width:102px;height:35px;border-radius: 18px;text-align: center;color:#3F63FD;line-height: 35px;font-size: 14px;}
.limitInfo-item img{width:12px;height:12px;vertical-align: middle;}
.limitInfo-item span{font-size: 13px;color:#FFFFFF;}

.white-payBack{text-align: center;margin-top: 2px;margin-bottom: 15px;}
.payBack-logo{width:23px;height:21px;vertical-align: middle;margin-right: 7px;}
.white-payBack span{color:#3B4664;font-size: 12px;line-height: 17px;}
.white-payBack a{text-decoration: none;font-size: 12px;color:#FF7E24;}
.white-payBack a img{width:11px;height:10px;vertical-align: middle;}

.swiper-container,.swiper-container .swiper-slide,.swiper-container .swiper-slide img{width:100%;}

.white-strategy{margin-top: 22px;padding:0 18px;}
.white-strategy h1{color:#1B1B4E;font-size: 19px;line-height: 26px;}
.strategy-logo{margin-top: 16px;}
.strategy-logo,.strategy-logo img{width:100%;display: block;}
.strategy-content{display: flex;justify-content: space-between;margin-top: 10px;}
.strategy-item{width:30%;}
.strategy-item img{width:100%;height:auto;display: block;}

.white-info{padding: 0 18px;text-align: center;margin-top: 15px;line-height: 50px;}
.white-info img{width:33px;vertical-align: middle;}
.white-info span{display: inline-block;margin: 0 15px;color:#AEB3C0;font-size: 12px;}

/*账单*/
.yd-bill{background: #F6F6F6;height:100%;}
.bill-title{height:212px;background: linear-gradient(135deg,#4488FD 0%,#7474FA 100%);width:100%;text-align: center;padding-top:30px;}
.billTitle-text{color:#FFFFFF;font-size: 17px;line-height: 24px;font-weight: 100;letter-spacing: 1px;}

.bill-content{position: fixed;top:74px;left:0;right:0;padding: 0 12px;}

.billInfo-date{background: #F6F6F6;display: flex;justify-content: space-between;height:51px;align-items: center;padding:0 16px;}
.corn-left{width:0px;height:0px;border-width: 5px 5px 5px 0;border-color: transparent  #D4DBE3 transparent transparent;border-style: solid;display: inline-block;margin-right: 7px;}
.date-text{font-size: 13px;color:#999999;}
.corn-right{width:0px;height:0px;border-width: 5px 0 5px 5px;border-color: transparent transparent transparent #D4DBE3;border-style: solid;display: inline-block;margin-left: 7px; }
.billInfo-content{background: #FFFFFF;padding-top: 30px;}
.info-payBack{text-align: center;}
.info-payBack p{color:#778087;font-size: 13px;line-height: 17px;}
.info-payBack h1{color:#1B1B4E;font-size: 40px;line-height: 47px;margin: 5px 0 11px;font-weight: 600;}
.payBack-date{font-size: 13px;color:#999999;line-height: 17px;}
.payBack-date span{font-size: 13px;color:#545DFF;}
.info-payBack button{background-color:#545DFF;width:256px;height:44px;box-shadow:0px 5px 15px 0px rgba(84,93,255,0.3);border:none;border-radius: 2px;margin-top: 31px;color:#FFFFFF;font-size: 16px;}
.payBack-list{padding:10px 0 20px;}
.payBack-list li{display: flex;flex-direction: row;justify-content: space-between;padding:0 16px;margin-top: 40px;}
.payBack-listKey{font-size: 15px;color: #333333;font-weight: 400;}
.payBack-listVal{color:#1B1B4E;font-size: 18px;font-weight: bold;}
.payBack-link{position: relative;}
.payBack-link .corn-right{position: absolute;right:-10px;top:7px;}
.bill-link{margin-top: 10px;background: #FFFFFF;}
.bill-link li{display: flex;justify-content: space-between;padding: 0px 16px;height:60px;align-items: center;}
